body{
  background-color: #162231;
  display: flex;
  flex-direction: column;
  width: 100%;
 /* make main axis vertical */
  min-height: 100vh;
 /* viewport height */
}
.navbar {
    --bs-body-color: #000;
    --bs-body-bg: #ffffff;

    --theme-color-rgb: 13, 110, 253;
    background-color: var(--bs-body-bg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Added shadow for depth */
    transition: background-color 0.3s ease; /* Smooth transition for color change */
}

@media (max-width: 767px) {
    body {
        overflow-x: hidden;
    }
}

.gray .navbar, .navbar.gray {
    --bs-body-bg: #f6f6f6;
}

.dark-gray .navbar, .navbar.dark-gray {
    --bs-body-color: #ffffff;
    --bs-body-bg: #1e2735;
}

.dark .navbar, .navbar.dark {
    --bs-body-color: #ffffff;
    --bs-body-bg: #0b1727;
}

.navbar .navbar-brand {
    font-weight: 800;
    font-size: 30px;
    color: var(--bs-body-color);
    transition: transform 0.3s ease; /* Smooth scale effect */
}

.navbar .navbar-brand:hover {
    transform: scale(1.1); /* Scale effect on hover */
}

.navbar .navbar-toggler {
    border: none;
    background: var(--theme-colour); /* Theme color for the button */
    box-shadow: none !important;
}

.navbar .navbar-toggler>span {
    height: 32px;
}

.navbar .navbar-toggler>span>span {
    background-color: var(--bs-body-color);
    transition: all .35s ease-in-out;
}

.navbar .navbar-toggler[aria-expanded="true"]>span>span {
    background-color: transparent;
}

.navbar .navbar-toggler[aria-expanded="true"]>span>span::before,
.navbar .navbar-toggler[aria-expanded="true"]>span>span::after {
    transform: rotate(45deg);
    background: #fff; /* Make toggler lines white */
}

.navbar .navbar-nav .nav-link {
    color: var(--bs-body-color);
    opacity: .6;
    transition: color 0.3s ease, opacity 0.3s ease; /* Smoother transition */
}

.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link:focus, .navbar .navbar-nav .nav-link.active {
    color: var(--theme-colour); /* Change color on interaction */
    opacity: 1;
}

@media (min-width: 992px) {
    .navbar .navbar-nav .nav-link {
        padding-right: 16px;
        padding-left: 16px;
    }
}
@media (max-width: 767px) {
    .navbar {
        --bs-body-color: #fff; /* Ensure text is legible on dark backgrounds */
        padding: 0.5rem 1rem; /* Reduced padding for more space */
    }

    .navbar .navbar-toggler {
        width: 40px; /* A bit wider to handle easily */
        height: 30px;
        position: relative; /* Positioning for the custom hamburger */
        padding: 0; /* Remove padding to use space efficiently */
    }

    .navbar .navbar-toggler>span {
        display: block;
        position: relative;
        height: 2px;
        width: 100%;
        background-color: var(--bs-body-color);
        transition: background 0.3s ease-in-out;
        transition-delay: 0.2s;
    }

    .navbar .navbar-toggler>span::before,
    .navbar .navbar-toggler>span::after {
        content: '';
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        height: 2px;
        background: inherit;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .navbar-toggler>span::after {
        top: 10px;
    }

    .navbar .navbar-toggler[aria-expanded="true"]>span {
        background-color: transparent;
    }

    .navbar .navbar-toggler[aria-expanded="true"]>span::before {
        transform: translateY(10px) rotate(45deg);
    }

    .navbar .navbar-toggler[aria-expanded="true"]>span::after {
        transform: translateY(-10px) rotate(-45deg);
    }

    .navbar-collapse {
        margin-top: 15px;
        background-color: var(--bs-body-bg); /* Adds contrast */
        box-shadow: 0 8px 16px rgba(0,0,0,0.1); /* Soft shadow for depth */
    }

    .navbar .navbar-nav .nav-link {
        padding: 0.75rem 1rem; /* Larger touch targets */
        font-size: 1rem; /* Larger font for readability */
        color: var(--bs-body-color);
        opacity: 0.8;
    }

    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .nav-link:focus {
        opacity: 1; /* Clear focus on interaction */
        background-color: rgba(255, 255, 255, 0.1); /* Subtle highlight */
    }
}


.about {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  overflow: hidden;
  padding: 50px 0;
 /* Adjusted padding */
}
@media (min-width: 768px) {
  .about {
      padding: 25px 0;
     /* Adjusted padding */
 }
}
.gray .about, .about.gray {
  --bs-body-bg: rgb(246, 246, 246);
}
.dark-gray .about, .about.dark-gray {
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);
}
.dark .about, .about.dark {
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);
}
.about-heading {
  font-size: 36px;
  line-height: 52px;
  color: var(--theme-colour);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-weight: 600;
 /* Increased font-weight for emphasis */
  transition: all 0.3s ease-in-out;
 /* Smooth transition on resize */
}
@media (min-width: 768px) {
  .about-heading {
      font-size: 45px;
      line-height: 65px;
 }
}
.about-sub-heading {
  font-size: 20px;
 /* Increased font size for better readability */
  line-height: 32px;
  font-weight: 600;
 /* Increased font-weight for emphasis */
  text-align: left;
  transition: all 0.3s ease-in-out;
 /* Smooth transition on resize */
  text-align: center;
}
.about-content p {
  font-size: 19px;
 /* Increased font size for better readability */
  line-height: 2;
  opacity: 0.85;
  transition: all 0.3s ease-in-out;
 /* Smooth transition on resize */
}
.about img {
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
 /* Added transition */
}
.about img:hover {
  transform: scale(1.05);
 /* Added hover effect */
}
.carousel-inner {
    overflow: hidden;
}

.carousel-item {
    transition: transform 1s ease, opacity 1s ease-in-out;
    min-height: 400px;
    padding: 20px; /* Increased padding around text */
}

.carousel-item img {
    max-height: 100%; /* Ensures image does not exceed container height */
    object-fit: cover; /* Maintains aspect ratio without distortion */
}

.carousel-indicator {
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-controls {
    position: absolute;
    width: 100%;
    bottom: 10px;
    display: flex;
    justify-content: center; /* Centers indicators horizontally */
}

@media (max-width: 768px) {
    /* Hide carousel controls on small screens */
    .carousel-control-prev, .carousel-control-next, .carousel-indicator, .carousel-controls {
        display: none;
    }

    /* Hide all slides except the first one */
    .carousel-item:not(:first-child) {
        display: none;
    }

    /* Optional: Adjust the first slide's layout or visibility as needed */
    .carousel-item:first-child {
        display: block; /* Ensure the first slide is always shown */
        width: 100%; /* Full width to utilize space effectively */
        min-height: 350px; /* Adjust height as needed */
        max-height: 400px; /* Fixing height can help maintain layout consistency */
    }

    /* Adjust image within the first slide if necessary */
    .carousel-item:first-child img {
        max-height: 100%; /* Ensures image does not exceed the slide's height */
        width: auto; /* Maintain aspect ratio */
        object-fit: cover; /* Ensures the image covers the allotted area nicely */
    }
}


.about-heading:hover {
    color: #ccc;
}


.banner {
  --bs-body-color: #212529;
  --bs-body-bg: rgb(255, 255, 255);
 /* easy frontend variables */
  --theme-colour: rgb(13, 110, 253);
  --theme-color-rgb: 13, 110, 253;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  padding: 50px 0;
}
/* Gray Block Style */
.gray .banner, .banner.gray {
 /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);
}
/* Dark Gray Block Style */
.dark-gray .banner, .banner.dark-gray {
 /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);
}
/* Dark Block Style */
.dark .banner, .banner.dark {
 /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);
}
.technologies {
 /* Bootstrap variables */
  --bs-body-color: #28303b;
  --bs-body-bg: rgb(255, 255, 255);
 /* Easy Frontend variables */
  --theme-colour: rgb(13, 110, 253);
  --theme-color-rgb: 13, 110, 253;
  --ezy-item-bg: #f4f7fd;
  background-color: var(--bs-body-bg);
  overflow: hidden;
  padding: 60px 0;
}
@media (min-width: 768px) {
  .technologies {
      padding: 100px 0;
 }
}
/* Gray Block Style */
.gray .technologies, .technologies.gray {
 /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);
 /* Easy Frontend variables */
  --ezy-item-bg: #fff;
}
/* Dark Gray Block Style */
.dark-gray .technologies, .technologies.dark-gray {
 /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);
 /* Easy Frontenrgb(16, 26, 39)bles */
  --ezy-item-bg: #263344;
}
/* Dark Block Style */
.dark .technologies, .technologies.dark {
 /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);
 /* Easy Frontend variables */
  --ezy-item-bg: #162231;
}
.technologies-heading {
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  color: var(--bs-body-color);
}
@media (min-width: 768px) {
  .technologies-heading {
      font-size: 35px;
      line-height: 35px;
 }
}
.technologies-sub-heading {
  font-size: 18px;
  line-height: 25px;
  color: var(--bs-body-color);
  opacity: 0.7;
}
.technologies-item {
  background-color: var(--ezy-item-bg);
  border-radius: 10px;
  height: 150px;
  width: 100%;
}
.technologies-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
/* Base styles for the footer */
.page_footer {
  --bs-body-color: #212529;
  --bs-body-bg: rgb(255, 255, 255);
  --theme-colour: rgb(13, 110, 253);
  --theme-color-rgb: 13, 110, 253;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  padding: 48px 0;
  margin-top: auto;
}

.page_footer img {
  max-width: 150px;
  max-height: 150px;
}

.page_footer-text {
  margin-left: 140px;
}

.page_footer-social li {
  list-style-type: none;
  display: inline-block;
  margin: 6px 12px;
}

.page_footer-social li a {
  color: var(--bs-body-color);
  transition: 0.4s;
  font-size: 20px;
}

.page_footer-social li a:hover {
  color: var(--theme-colour);
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .page_footer {
    padding: 24px 0;
    text-align: center;
  }

  .page_footer img {
    display: block;
    margin: 0 auto;
    max-width: 120px;
    max-height: 120px;
  }

  .page_footer-text {
    margin-left: 0;
    margin-top: 16px;
  }
}

@media screen and (max-width: 480px) {
  .page_footer {
    padding: 16px 0;
  }

  .page_footer img {
    max-width: 100px;
    max-height: 100px;
    margin-top: 30px; /* Lower the logo by 5px */
  }

  .page_footer-social li {
    margin: 4px 8px;
  }

  .page_footer-social li a {
    font-size: 16px;
  }
}

/* Adjustments for dark backgrounds */
.page_footer.dark-gray,
.page_footer.dark {
  --bs-body-color: #ffffff;
}

.page_footer.dark-gray {
  --bs-body-bg: rgb(30, 39, 53);
}

.page_footer.dark {
  --bs-body-bg: rgb(11, 23, 39);
}

.portfolio {
 /* Bootstrap variables */
  --bs-body-color: #28303b;
  --bs-body-bg: #fff;
 /* easy frontend variables */
  --theme-colour: rgb(13, 110, 253);
  --theme-color-rgb: 13, 110, 253;
  --ezy-card-bg: #fff;
  --ezy-card-shadow: 0 25px 41px rgba(89, 88, 109, 0.15);
  background-color: var(--bs-body-bg);
  padding: 60px 0;
  color: var(--bs-body-color);
}
@media (min-width: 768px) {
  .portfolio {
      padding: 100px 0;
 }
}
/* Gray Block Style */
.gray .portfolio, .portfolio.gray {
 /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);
 /* easy frontend variables */
  --ezy-card-bg: #fff;
  --ezy-card-shadow: 0px 8px 44px rgba(182, 198, 222, 0.48);
}
/* Dark Gray Block Style */
.dark-gray .portfolio, .portfolio.dark-gray {
 /* Bootstrap variables */
  --bs-body-color: rgb(241, 241, 241);
  --bs-body-bg: rgb(30, 39, 53);
 /* easy frontend variables */
  --ezy-card-bg: rgb(11, 23, 39);
  --ezy-card-shadow: none;
}
/* Dark Block Style */
.dark .portfolio, .portfolio.dark {
 /* Bootstrap variables */
  --bs-body-color: rgb(255, 255, 255);
  --bs-body-bg: rgb(11, 23, 39);
 /* easy frontend variables */
  --ezy-card-bg: rgb(30, 39, 53);
  --ezy-card-shadow: none;
}
/* heading and sub-heading */
.portfolio-heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  color: var(--bs-body-color);
}
.portfolio-sub-heading {
  color: var(--bs-body-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  opacity: 0.8;
}
@media (min-width: 991px) {
  .portfolio-heading {
      font-size: 45px;
 }
}
.portfolio-post {
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--ezy-card-bg);
  box-shadow: var(--ezy-card-shadow);
}
.portfolio-banner {
  border-radius: 10px;
}
.portfolio-title {
  font-weight: 500;
  margin-top: 0 !important;
  color: var(--bs-body-color);
}
.portfolio-description {
  color: var(--bs-body-color);
  opacity: 0.6;
}
.portfolio-btn {
  padding: 12px 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: var(--theme-colour);
  border-color: var(--theme-colour);
}
.portfolio-btn:hover {
  color: #ffffff;
  background-color: rgba(var(--theme-color-rgb), 0.9);
}
.portfolio-btn-read-more {
  padding: 7px 20px;
  color: var(--bs-body-color);
  border-color: var(--theme-colour);
}
.portfolio-btn-read-more:hover {
  background-color: rgba(var(--theme-color-rgb), 0.9);
  color: #ffffff;
}
.portfolio-author a {
  color: var(--theme-colour);
  opacity: 0.7;
}
.portfolio-input {
  background-color: var(--ezy-card-bg);
  border: none;
  color: var(--bs-body-color);
  padding: 10px;
  box-shadow: var(--ezy-card-shadow);
  margin: 10px 0;
}
.portfolio-input:focus {
  background-color: var(--ezy-card-bg);
  color: var(--bs-body-color);
  border-color: rgba(var(--theme-color-rgb), 0.7);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(var(--theme-color-rgb), 0.25);
}
.form-control:focus {
  background-color: var(--ezy-card-bg);
  border-color: rgba(var(--theme-color-rgb), 0.7);
  color: var(--bs-body-color);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(var(--theme-color-rgb), 0.25);
}
.services {
 /* Bootstrap variables */
  --bs-body-color: #2B323C;
  --bs-body-bg: rgb(255, 255, 255);
 /* Easy Frontend variables */
  --theme-colour: rgb(13, 110, 253);
  --theme-color-rgb: 13, 110, 253;
  --ezy-item-bg: transparent;
  background: var(--bs-body-bg);
  overflow: hidden;
  padding: 60px 0;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .services {
      padding: 100px 0;
 }
}
/* Gray Block Style */
.gray .services, .services.gray {
 /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);
}
/* Dark Gray Block Style */
.dark-gray .services, .services.dark-gray {
 /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);
}
/* Dark Block Style */
.dark .services, .services.dark {
 /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);
 /* Easy Frontend variables */
  --ezy-item-bg: transparent;
}
.services-heading {
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  color: var(--bs-body-color);
}
@media (min-width: 768px) {
  .services-heading {
      font-size: 45px;
      line-height: 45px;
      text-align: center;
 }
  .services-sub-heading {
      text-align: center;
 }
}
.services-sub-heading {
  font-size: 18px;
  line-height: 25px;
  color: var(--bs-body-color);
  opacity: .8;
}
.services-card {
  background-color: var(--ezy-item-bg);
  border: none;
  border-radius: 0;
  transition: background-color .35s ease-in-out, transform 1s ease;
  transform-style: preserve-3d;
  will-change: transform;
}
.services-card:hover, .services-card.active {
  background-color: #2B323C;
}
.services-card:hover {
  transform: perspective(800px) rotateY(5deg);
}
.services-icon {
  background-color: rgba(var(--theme-color-rgb), .11);
  color: rgba(var(--theme-color-rgb), 1);
  width: 130px;
  height: 130px;
  border-radius: 50%;
  font-size: 62px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color .25s ease-in-out, color .25s ease-in-out;
}
.services-card:hover .services-icon, .services-card.active .services-icon {
  background-color: rgba(255, 255, 255, .1);
  color: #ffffff;
}
.services-title {
  color: var(--bs-body-color);
}
.services-content {
  color: var(--bs-body-color);
  opacity: .7;
}
.services-card:hover .services-title, .services-card.active .services-title, .services-card:hover .services-content, .services-card.active .services-content {
  color: #ffffff;
}
.contact {
 /* Bootstrap variables */
  --bs-body-color: #28303b;
  --bs-body-bg: rgb(255, 255, 255);
 /* Easy Frontend variables */
  --theme-colour: rgb(13, 110, 253);
  --theme-color-rgb: 13, 110, 253;
  --ezy-form-card-bg: rgb(244, 247, 253);
  --ezy-form-card-shadow: none;
  --ezy-link-bg: rgb(244, 247, 253);
  --ezy-link-hover-shadow: 0 16px 24px 0 rgba(197, 206, 222, .25);
  background-color: var(--bs-body-bg);
  padding: 70px 0;
}
/* Gray Block Style */
.gray .contact, .contact.gray {
 /* Bootstrap variables */
  --bs-body-bg: rgb(244, 247, 253);
 /* easy frontend variables */
  --ezy-form-card-bg: #fff;
  --ezy-form-card-shadow: none;
  --ezy-link-bg: #fff;
  --ezy-link-hover-shadow: 0 16px 24px 0 rgba(197, 206, 222, .25);
}
/* Dark Gray Block Style */
.dark-gray .contact, .contact.dark-gray {
 /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);
 /* Easy Frontend variables */
  --ezy-form-card-bg: rgb(11, 23, 39);
  --ezy-form-card-shadow: none;
  --ezy-link-bg: rgb(11, 23, 39);
  --ezy-link-hover-shadow: 0 16px 24px 0 rgba(40, 40, 40, .25);
}
/* Dark Block Style */
.dark .contact, .contact.dark {
 /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);
 /* Easy Frontend variables */
  --ezy-form-card-bg: #162231;
  --ezy-form-card-shadow: none;
  --ezy-link-bg: #162231;
  --ezy-link-hover-shadow: 0 16px 24px 0 rgba(44, 44, 44, .25);
}
@media (min-width: 768px) {
  .contact {
      padding: 100px 0;
 }
}
.contact-title {
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  color: var(--bs-body-color);
}
@media (min-width: 768px) {
  .contact-title {
      font-size: 40px;
      line-height: 40px;
 }
}
.contact-heading {
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  color: var(--bs-body-color);
}
@media (min-width: 768px) {
  .contact-heading {
      font-size: 45px;
      line-height: 45px;
 }
}
.contact-sub-heading {
  font-size: 18px;
  line-height: 25px;
  color: var(--bs-body-color);
}
.contact-form-card {
  background-color: var(--ezy-form-card-bg);
  border: none;
  box-shadow: var(--ezy-form-card-shadow);
  border-radius: 15px;
}
.contact .form-control {
  min-height: 48px;
  line-height: 40px;
  border-color: transparent;
  background: rgba(163, 190, 241, .14);
  border-radius: 10px;
  color: var(--bs-body-color);
}
.contact .form-control:focus {
  border-color: #86b7fe;
  box-shadow: none;
}
.contact-btn {
  padding: 12px 30px;
  color: #ffffff;
  background-color: var(--theme-colour);
  border-color: var(--theme-colour);
}
.contact-btn:hover {
  background-color: rgba(var(--theme-color-rgb), .9);
  border-color: rgba(var(--theme-color-rgb), .9);
  color: #ffffff;
}
.contact-link {
  background-color: var(--ezy-link-bg);
  border: none;
  border-radius: 10px;
  width: 100%;
  transition: box-shadow .15s ease-in-out;
}
@media (min-width: 768px) {
  .contact-link {
      max-width: 350px;
 }
}
.contact-icon, .contact-link .contact-link-content {
  color: var(--bs-body-color);
}
.contact-link.active, .contact-link:hover {
  box-shadow: var(--ezy-link-hover-shadow);
}
.contact-link-content {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.portfolio__single-wrapper {
  flex-grow: 1;
  margin-top: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .portfolio__single-wrapper {
    margin-top: 80px;
  }
}

@media (max-width: 1000px) {
  .portfolio__single-wrapper {
    margin-top: 40px;
  }
}

.portfolio__single {
  max-width: 80%;
  margin: 20px auto;
  padding: 40px 30px;
  background-color: rgb(30, 39, 53);
  border-radius: 30px;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.portfolio__single-title {
  padding-top: 15px;
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold;
}

.portfolio__single-title i {
  margin-right: 10px;
}

.portfolio__single-summary {
  font-size: 18px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 15px;
}

.portfolio__single-image {
  height: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio__single-image img {
  width: 100%;
  object-fit: contain;
  border-radius: 30px;
}

.portfolio__single-description {
  font-size: 18px;
  margin-bottom: 20px;
}

.portfolio__single-tech-tags {
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 5px 10px;
  border-radius: 10px;
}

/* Laptop */
@media (max-width: 1024px) {
  .portfolio__single-wrapper {
    margin: 20px;
    padding: 30px 20px;
  }

  .portfolio__single {
    max-width: 90%;
    margin: 20px auto;
    padding: 30px 20px;
    border-radius: 15px;
  }

  .portfolio__single-title {
    font-size: 32px;
    line-height: 1.3;
  }

  .portfolio__single-title i {
    margin-right: 7px;
  }

  .portfolio__single-summary,
  .portfolio__single-description {
    font-size: 20px;
  }

  .portfolio__single-image {
    width: 80%;
  }

  .portfolio__single-image img {
    border-radius: 15px;
  }

  .portfolio__single-tech-tags {
    font-size: 16px;
    padding: 7px 10px;
    border-radius: 7px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .portfolio__single-wrapper {
    margin: 10px;
    padding: 20px 10px;
  }

  .portfolio__single {
    max-width: 95%;
    margin: 15px auto;
    padding: 25px 15px;
    border-radius: 10px;
  }

  .portfolio__single-title {
    font-size: 28px;
    line-height: 1.3;
  }

  .portfolio__single-title i {
    margin-right: 7px;
  }

  .portfolio__single-summary,
  .portfolio__single-description {
    font-size: 20px;
  }

  .portfolio__single-image {
    width: 90%;
  }

  .portfolio__single-image img {
    border-radius: 10px;
  }

  .portfolio__single-tech-tags {
    font-size: 16px;
    padding: 7px 10px;
    border-radius: 7px;
  }
}



/* Mobile */
@media (max-width: 480px) {
  .portfolio__single-wrapper {
    margin: 0px;
    padding: 20px 10px;
  }

  .portfolio__single {
    max-width: 100%;
    margin: 10px 0px;
    padding: 20px 10px;
    border-radius: 10px;
  }

  .portfolio__single-title {
    font-size: 24px;
    line-height: 1.3;
  }

  .portfolio__single-title i {
    margin-right: 5px;
  }

  .portfolio__single-summary,
  .portfolio__single-description {
    font-size: 20px;
  }

  .portfolio__single-image {
    width: 100%;
  }

  .portfolio__single-image img {
    border-radius: 10px;
  }

  .portfolio__single-tech-tags {
    font-size: 14px;
    padding: 5px 7px;
    border-radius: 5px;
  }
}






.tech-tag {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border: 2px solid #5e2ca5;
 /* Darker purple outline */
  border-radius: 15px;
  background-color: #8f5ad5;
 /* Lighter purple middle color */
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
 /* Add box shadow */
  transform: scale(1);
 /* Add initial scale */
}
.tech-tag:hover {
  background-color: #5e2ca5;
 /* Darker purple background color on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 /* Increase box shadow on hover */
  transform: scale(1.05);
 /* Increase scale on hover */
}
.search_form{
  margin-left: 50px;
}
@media (max-width: 1200px) {
  .search_form {
      margin-left: 0;
 }
}
.tech-modal {
  background-color: var(--ezy-item-bg);
  border-radius: 10px;
  color: var(--bs-body-color);
  padding: 20px;
  text-align: center;
}
.tech-modal .modal-body {
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  color: white;
}
.tech-modal .modal-title {
  font-weight: bold;
  color: white;
}
.tech-modal .modal-description {
  font-weight: normal;
  color: white;
}
.tech-modal .modal-body img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  max-height: 300px;
}
.technologies-heading {
  font-weight: bold;
  color: white;
}
.technologies-sub-heading {
  color: lightgray;
}
.technologies-item {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.technologies-item:hover {
  transform: scale(1.05);
}
.edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(11, 23, 39);
}
.edit-card {
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgba(30, 39, 53, 0.9);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(30, 39, 53, 0.9);
  padding: 40px;
  position: relative;
}
.portfolio-heading {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 20px;
  color: #fff;
}
.portfolio-sub-heading {
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
}
.form-label {
  font-weight: bold;
  color: #fff;
}
.form-control {
  background-color: rgba(163, 190, 241, 0.14);
  color: #fff;
  border-color: rgba(163, 190, 241, 0.14);
}
.form-control:focus {
  background-color: #fff;
  color: #000;
  border-color: rgba(163, 190, 241, 0.14);
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(163, 190, 241, 0.14);
}
.btn-primary {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.form-select {
  background-color: rgba(163, 190, 241, 0.14);
  color: #fff;
  border-color: rgba(163, 190, 241, 0.14);
}
.form-select:focus {
  background-color: #fff;
  color: #000;
  border-color: rgba(163, 190, 241, 0.14);
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(163, 190, 241, 0.14);
}
@media (max-width: 768px) {
  .edit-container {
      min-height: auto;
 }
  .edit-card {
      margin-top: 20px;
      margin-bottom: 20px;
 }
}
.login-container{
  padding-top: 50px;
}
.login-card {
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgba(30, 39, 53, 0.9);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(30, 39, 53, 0.9);
  padding: 40px;
  position: relative;
  color: #fff;
}

.delete-modal {
  background-color: var(--ezy-item-bg);
  border-radius: 10px;
  color: var(--bs-body-color);
  padding: 20px;
  text-align: center;
}
.delete-modal .modal-body {
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  color: white;
}
.delete-modal .modal-title {
  font-weight: bold;
  color: white;
}
.delete-modal .modal-description {
  font-weight: normal;
  color: white;
}
.delete-modal .modal-body img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  max-height: 300px;
}

